.body-content {
    padding-top: 80px;
}

section.Carousel {
    margin-top: 20px;
}

section.Promotion {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 575px) {
    .body-content {
        padding-top: 0;
    }
}

@media screen and (max-width: 767px) {
    section.Carousel {
        margin-top: 0;
    }
}